<div class="container p-4">
    <div class="row">
        <div class="col-md-3 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/incidencias/edit/{{incidencias.id}}" method="POST">
                        <div class="form-group">
                            <span>Título</span>
                            <input type="text" value="{{incidencias.nombre_incidencia}}" class="form-control"
                                name="nombre_incidencia" placeholder="Nombre incidencia" autofocus>
                        </div>
                        <div class="form-group">
                            <span>Categoría</span>
                            <input type="text" value="{{incidencias.categoria_incidencia}}" class="form-control"
                                name="categoria_incidencia" placeholder="Categoria">
                        </div>
                        <div class="form-group">
                            <span>Prioridad</span>
                            <select class="mdb-select custom-select" name="prioridad_incidencia">
                                <option value="{{incidencias.prioridad_incidencia}}" selected hidden>
                                    {{incidencias.prioridad_incidencia}}</option>
                                <option value="Baja">Baja</option>
                                <option value="Media">Media</option>
                                <option value="Alta">Alta</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none">
                            <select class="mdb-select custom-select" name="usuario_creador">
                                <option value='{{user.nombre_usuario}}' selected></option>
                            </select>
                        </div>
                        {{#if user.tecnico}}
                        <div class="form-group">
                            <span>Estado</span>
                            <select class="mdb-select custom-select" name="estado_incidencia">
                                <option value="{{incidencias.estado_incidencia}}" selected hidden>
                                    {{incidencias.estado_incidencia}}</option>
                                <option value="Pendiente">Pendiente</option>
                                <option value="Abierta">Abierta</option>
                                <option value="Cerrada">Cerrada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <span>Comentarios del técnico</span>
                            <textarea class="form-control" rows="2" placeholder="Comentarios"
                                name="comentarios">{{incidencias.comentarios}}</textarea>
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <span>Descripción</span>
                            <textarea class="form-control" rows="2" placeholder="Descripcion"
                                name="descripcion">{{incidencias.descripcion}}</textarea>
                        </div>
                        <span>Comentarios del técnico</span>
                        <br>
                        <div class="card">
                            <span>
                                {{incidencias.comentarios}}
                            </span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="12:30 - 1:00pm">
                                <h3>Registration</h3>
                                <p>Get here on time, it's first come first serve. Be late, get turned away.</p>
                            </li>
                            <li class="event" data-date="2:30 - 4:00pm">
                                <h3>Opening Ceremony</h3>
                                <p>Get ready for an exciting event, this will kick off in amazing fashion with MOP &amp;
                                    Busta Rhymes as an opening show.</p>
                            </li>
                            <li class="event" data-date="5:00 - 8:00pm">
                                <h3>Main Event</h3>
                                <p>This is where it all goes down. You will compete head to head with your friends and
                                    rivals. Get ready!</p>
                            </li>
                            <li class="event" data-date="8:30 - 9:30pm">
                                <h3>Closing Ceremony</h3>
                                <p>See how is the victor and who are the losers. The big stage is where the winners bask
                                    in their own glory.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>