<div class="container p-4">
    <div class="row">
        {{#each incidencias}}
        <div class="col-md-4 p-3">
            <div class="card text-center p-4">
                <div class="car-body">
                    <div style="border-style: ;">
                    <aside style="float:right;">
                        <small>
                            <b>
                                {{id}}
                            </b>
                        </small>
                    </aside>
                    </div>
                    <a href="{{nombre_incidencia}}">
                        <h3 class="card-title text-uppercase">
                            {{nombre_incidencia}}
                        </h3>
                    </a>
                    <p class="m-2">
                        {{descripcion}}
                    </p>
                    <p>
                        <i class="bi bi-clock"></i> {{timeago fecha_creacion}}
                    </p>
                    <a href="/incidencias/delete/{{id}}" class="btn btn-danger">
                        <i class="bi bi-x-circle"></i> Cerrar
                    </a>
                    <a href="/incidencias/edit/{{id}}" class="btn btn-secondary">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay incidencias creadas</p>
                <a href="/incidencias/add">Crear incidencia</a>
            </div>
        </div>
        {{/each}}
        <ul id="resultado">Hola</ul>
    </div>
</div>